---
name: CI

on:
  push:
    branches:
      - 'master'
      - 'dev'
      - 'feature/**'

  pull_request:
    types:
      - opened
      - edited

  release:
    types:
      - created
      - edited

jobs:
  phplint:
    runs-on: ubuntu-latest
    steps:
        - uses: 'actions/checkout@v5.0.0'

        - uses: 'shopiqo/github-action-phplint@v2.0.0'
